<div class="container-fluid">
  <div class="nav">
    <div class="nav-left">
      <button mat-button>About Us</button>
      <button mat-button>Get Involved</button>
      <button mat-button>Read</button>
    </div>
    <div class="nav-right">
      <button mat-button><a (click)="logout()" class="navbar-text navbar-left navbar-link">Logout</a></button>
      <button mat-button [matMenuTriggerFor]="menu">
        <img class="card-img-top image" [src]="user.image" *ngIf="user.image" alt="User image">
        <img class="card-img-top image" src="https://via.placeholder.com/400x300" *ngIf="!user.image" alt="User image">
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="changeName()" mat-menu-item>Change Display Name</button>
      </mat-menu>
    </div>
  </div>
</div>
