.body-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

form {
  margin-bottom: 50px;
}

label {
  color: #35454C;
}

.header {
  text-align: center;
  margin-bottom: 35px;
  font-family: 'Alegreya', 'Roboto', sans-serif;
  color: #35454C;
}


.error{
  color: rgb(202, 77, 77);
}

.custom_content, .social_login {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  margin: auto;
  max-width: 400px;
}

.facebook, .google, .twitter {
  align-content: center;
  margin: 0.5em;
}

.social-media-login {
  margin-top: 55px;
}

.mat-raised-button {
  background: #eee;
  color: #35454C;
  font-weight: 700;
}

.mat-raised-button:hover {
  background: #fff;
}

.no-account {
  font-weight: 700;
  color: #35454C;
  margin-top: 20px;
  text-align: center;
}

.no-account a {
  text-decoration: underline !important;
  color: #35454C;
}

.no-account a:hover {
  color: #5C8491;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
