.body-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

button {
  height: 4rem;
  font-size: 1.05rem;
  font-weight: 600;
}

form {
  margin-bottom: 50px;
}

label {
  color: #35454C;
}

.header {
  text-align: center;
  margin-bottom: 35px;
  font-family: 'Alegreya', 'Roboto', sans-serif;
  color: #35454C;
}

#sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.custom_content, .social_login {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  margin: auto;
  max-width: 400px;
}

.facebook, .google, .twitter {
  align-content: center;
  margin: 0.5em;

  button {
    min-width: 98%;
  }
}

.social-media-login {
  margin-top: 55px;
}

.mat-raised-button {
  background: #eee;
  color: #35454C;
  font-weight: 700;
}

.mat-raised-button:hover {
  background: #fff;
}

.no-account {
  font-weight: 700;
  color: #35454C;
  margin-top: 20px;
  text-align: center;
}

.no-account a {
  text-decoration: underline !important;
  color: steelblue;
}

.no-account a:hover {
  color: #5C8491;
}

.create_login {
  text-align: center;
}
