.header{
  text-align: center;
  margin: 40px auto 40px auto;
}

.body-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex !important;
  // align-items: center !important;
  // justify-content: center !important;
  background: rgba(130,157,168,0.9023984593837535);
}

.image {
  width: 100%
}
