<app-navbar></app-navbar>
<div class="body-wrapper">
  <div class="container">
    <h3 class="header">Please pick a username:</h3>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top image" [src]="user.image" *ngIf="user.image" alt="User image">
          <div class="card-body">
            <form [formGroup]="profileForm">
              <div class="form-group">
                <label>Username</label>
                <input type="text" formControlName="name" class="form-control" required>
              </div>
            </form>
            <div *ngIf='!saveClicked'>
            <button (click)="save(profileForm.value)" mat-raised-button>Save</button>
            <div *ngIf='duplicateName'>
              <hr>
              <small class="saveComplete">This username is already taken, please pick a different username.</small>
            </div>
          </div>
            <div *ngIf='saveClicked'>
              <button (click)="startReading()" mat-raised-button>Start Reading</button>
              <hr>
              <small *ngIf='saveClicked' class="saveComplete">Your username has been saved!</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
